<ion-header>
  <ion-navbar color="primary">
    <ion-title>Chat</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="chat-view" id="chat-view">
  <div class="messages">
    <div class="message" *ngFor="let chat of chats | async" [ngClass]="{'me': uid === chat.from}">
      <span *ngIf="chat.message">{{chat.message}}</span>
      <img *ngIf="chat.picture" src="{{chat.picture}}" class="picture">
    </div>
  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-input type="text" placeholder="Enter Message" [(ngModel)]="message"></ion-input>
      <button ion-fab mini (click)="sendPicture()" color="favorite"><ion-icon name="image" ></ion-icon></button>
      <button ion-fab mini [disabled]="!chats" (click)="sendMessage()" color="favorite"><ion-icon name="send"></ion-icon></button>
    </div>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col  col-6 [hidden]="!chats">
        <ion-input type="text" placeholder="Enter Message" [(ngModel)]="message">
        </ion-input>
      </ion-col>
      <ion-col >
        <button ion-button col-6 (click)="sendPicture()"><ion-icon name="image" ></ion-icon></button>
      </ion-col>
      <ion-col [hidden]="!chats">
        <button ion-button col-6 (click)="sendMessage()"><ion-icon name="send"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->