page-chat {}

.chat-view {
    .messages {
        width: 90%;
        position: absolute;
        img {
            border-radius: 25px;
            padding: 2px;
        }
        .message {
            width: 70%;
            padding: 5px 10px;
            background: #3F51B5;
            color: whitesmoke;
            border-radius: 25px;
            margin: 5px;
            float: left;
        }
        .message.me {
            float: right;
            background: whitesmoke;
            border: 1px solid #3F51B5;
            color: #222;
            text-align: right;
            border-radius: 25px;
        }
    }
}