page-chat {}

ion-footer {
    border-top: 0.5px solid #BA68C8;
    background-color: whitesmoke;
}

.chat-view {
    .messages {
        width: 90%;
        position: absolute;
        img {
            border-radius: 25px;
            padding: 2px;
        }
        .message {
            width: 70%;
            padding: 5px 10px;
            background: #BA68C8;
            color: whitesmoke;
            border-radius: 25px;
            margin: 5px;
            float: left;
            .avatar {
                position: absolute;
                width: 35px;
                top: 4px;
                left: -20px;
            }
        }
        .message.me {
            float: right;
            background: whitesmoke;
            border: 1px solid #BA68C8;
            color: #222;
            text-align: right;
            border-radius: 25px;
            .avatar {
                position: absolute;
                width: 35px;
                top: 4px;
            }
        }
    }
}

.chat-footer {
    display: flex;
    ion-input {
        margin-top: 4px;
        border: 1px solid #ba68c8;
        border-radius: 30px;
        height: 50px;
        .text-input-md {
            margin: 15px 12px;
        }
    }
}

i {
    font-size: 10px;
}