<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="main-profile">
  <br/>
  <div>
    <ion-card>
      <div class="profile">
        <img *ngIf="!currentUser.profileImageURL" width="175px" height="130px" src="assets/images/default.jpg" />
        <img *ngIf="currentUser.profileImageURL" width="175px" height="130px" src="{{currentUser.profileImageURL || newProfile}}"/>
        <div class="camera" (click)="updatePicture()">
          <ion-icon name="camera"></ion-icon>
        </div>
      </div>
      <ion-card-content>
        <ion-card-title>
          {{currentUser.user_name}}
        </ion-card-title>
        <p>
          Web and Mobile application developer with passion for coding and business analyst to provide problem solving approach.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Contact Detail
      </ion-card-header>
      <ion-list>
        <button ion-item>
                <ion-icon name="mail" item-left></ion-icon>
                <a class="plainText" href="{{currentUser.email}}">{{currentUser.email}}</a>
            </button>
      </ion-list>
    </ion-card>
  </div>
</ion-content>