<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>All Users</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  
    <!-- <ion-spinner color="primary" *ngIf="!getAllUser.length"></ion-spinner> -->
    <ion-list>
        <span *ngFor="let user of getAllUser">
        <a ion-item (click)="openChat(user)" *ngIf="user.$key !== uid">
             <ion-avatar item-left (click)="userDetail($event,user)">
                <img *ngIf="!user.profileImageURL" src="assets/images/default.png">
                <img *ngIf="user.profileImageURL" src="{{user.profileImageURL}}">
             </ion-avatar>
             <h2>{{user.email}}</h2>
             <h5>{{user.user_name}}</h5>
             <span class="red-dot-notifcation" item-end *ngIf="user.incomingNotification"> &#9679;</span>
        </a>
      </span>
    </ion-list>
</ion-content>
